extends ../layout

block content
    .container
        h2(class="mt-5 mb-5") Ajouts d'une locations
        form(method="post" action=location? '/locations/update/'+location._id:'/locations/create')
            h4 Titre du bien
            hr
            div(class="mb-3")
                label(class="form-label") titre
                input(class="form-control" name="title" value=location&&location.title type="text")
            h4 Contact pour le bien
            hr
            div(class="mb-3 row")
                div(class='col-6')
                    label(class="form-label") name
                    input(class="form-control" name="name" type="text" value=location? location.contact.name: currentUser.name )
                div(class="mb-3 col-6")
                    label(class="form-label") email
                    input(class="form-control" name="email" value=location? location.contact.email: currentUser.local.email type="text")
            div(class="mb-3 row")
                div(class='col-6')
                    label(class="form-label") phone
                    input(class="form-control" name="phone" value=location? location.contact.phone: currentUser.phone type="text")
                div(class="col-6")
                    label(class="form-label") facebook
                    input(class="form-control" name="facebook" value=location&&location.contact.facebook type="text")
            h4 Localisation du bien
            hr
            div(class="mb-3")
                label(class="form-label") city
                input(class="form-control" value=location&&location.city name="city" type="text")
            div(class="mb-3")
                label(class="form-label") zip
                input(class="form-control" value=location&&location.zip name="zip" type="number")
            div(class="mb-3")
                label(class="form-label") country
                input(class="form-control" value=location&&location.country name="country" type="text")
            h4 Details
            hr
            div(class="mb-3 row")
                div(class='col-3')
                    label(class="form-label") surface
                    input(class="form-control" value=location&&location.details.surface name="surface" type="number")
                div(class="col-3")
                    label(class="form-label") chambres
                    input(class="form-control" value=location&&location.details.bedroom name="bedroom" type="number")
                div(class="col-3")
                    label(class="form-label") salle de bain
                    input(class="form-control" value=location&&location.details.bathroom name="bathroom" type="number")
                div(class='col-3')
                    label(class="form-label") cost
                    input(class="form-control" value=location&&location.cost name="cost" type="number")
            div(class="mb-3 row")
                div(class="col-3")
                    label(class="form-check-label me-3") cuisine
                    input(class="form-check-input" name="kitchen" checked=location&&location.details.kitchen&&true type="checkbox")
                div(class='col-3')
                    label(class="form-check-label me-3") parking
                    input(class="form-check-input" name="parking" checked=location&&location.details.parking&&true type="checkbox")
                div(class="col-3")
                    label(class="form-check-label me-3") piscine
                    input(class="form-check-input" name="pool" checked=location&&location.details.pool&&true type="checkbox")
                div(class="col-3")
                    label(class="form-check-label me-3") featured
                    input(class="form-check-input" name="featured" checked=location&&location.featured&&true type="checkbox")
            div(class="mb-3")
                label(class="form-label") type de bien
                input(class="form-control" name="type" list="datalistOptions" value=location&&location.details.type placeholder="Type to search...")
                datalist(id="datalistOptions")
                    each type in types
                        option(value=type.title)
            div(class="mb-3")
                label(class="form-label") description
                textarea(class="form-control" name="description")= location&&location.description
            button(class="btn btn-primary mb-5")  save

