extends ../layout

block content
    div(class="container")
        div(class="m-0 p-0 d-flex")
            div(class="w-25 mt-5")
                a(class="btn btn-outline-success m-2" href="/locations/create") Créer une annonces
                a(class="btn btn-outline-success m-2" href="/type/") Créer un type
            div(class="w-75")
                h2(class="mt-5")
                    i(class="fas fa-sign me-2")
                    .
                        Liste de bien a louer
                table(class="table mt-5 w-100")
                    thead
                        tr
                            th(scope="col") #
                            th(scope="col") titre
                            th(scope="col") pays
                            th(scope="col") contact
                            th(scope="col") type
                            th(scope="col") prix
                            th(scope="col") actions
                    tbody
                        each location,key in locations
                            tr
                                th(scope="row")= key+1
                                td= location.title
                                td= location.country
                                td= location.contact.name
                                td= location.details.type
                                td= location.cost + "€"
                                td
                                    a(class="btn btn-outline-success me-2" href="/locations/"+location._id) Editer
                                    a(class="btn btn-danger" href="/locations/delete/"+location._id) delete