extends ../layout
block content
    .container
        h2(class="mt-5 mb-5") Dashboard
            span(class="ms-2 badge bg-secondary") BETA
        if featured.length > 3
            div(class="alert alert-danger" role="alert")
                A Vous avez + de 3 featured !!!
            hr
        h4(class="mb-3") Vente vs Location
        div(class="progress")
            div(class="progress-bar progress-bar-striped" role="progressbar" style="width:"+((ventes.length/(ventes.length+locations.length))*100)+"%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100")
            div(class="progress-bar progress-bar-striped bg-success" style="width:"+((locations.length/(ventes.length+locations.length))*100)+"%" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100")
        hr
        h4(class="mb-3") Statistique
        div(class="d-flex")
            a(type="button" class="btn btn-primary" href="/ventes") Vente
                span(class="badge bg-secondary")= ventes.length
            a(type="button" class="btn ms-3 btn-success" href="/locations") Location
                span(class="badge bg-secondary")= locations.length
        h4(class="mt-3") Les deux dernières locations ajoutées
        div(class="row mt-3 mb-3 justify-content-center")
            for l in last
                div(class="card col-11 m-1 g-0 col-md-5")
                    if l.gallery.length >0
                        img(src="/images/locations/gallery/"+l.gallery[l.image] class="card-img-top" alt="..." style="height:200px;object-fit:cover;")
                    div(class="card-body")
                        h5(class="card-title")= l.title
                            span(class="ms-2 badge bg-secondary") New
                            if l.featured === "on"
                                span(class="ms-2 badge bg-danger") Featured
                        p(class="card-text")= "Contact : "+ l.contact.name
                        p(class="card-text")= "Pays : "+l.country
                        a(href="/locations/"+l._id class="btn btn-success") Editer
        h4(class="mt-3") Les deux dernières ventes ajoutées
        div(class="row mt-3 mb-3 justify-content-center")
            for l in lastVente
                div(class="card col-11 m-1 g-0 col-md-5")
                    if l.gallery.length > 0
                        img(src="/images/ventes/gallery/" + l.gallery[l.image] class="card-img-top" alt="..." style="height:200px;object-fit:cover;")
                    div(class="card-body")
                        h5(class="card-title")= l.title
                            span(class="ms-2 badge bg-secondary") New
                            if l.featured === "on"
                                span(class="ms-2 badge bg-danger") Featured
                        p(class="card-text")= "Contact : " + l.contact.name
                        p(class="card-text")= "Pays : " + l.country
                        a(href="/locations/" + l._id class="btn btn-success") Editer


